body {
    margin: 0px;
}


li {
    list-style: none;
}

a {
    text-decoration: none;
}


/* Navbar */

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    margin: 0px;
    background-color: bisque;
}


.navbar_menu{
    display : flex;
}

.navbar_menu_item {
    padding-left: 20px;
}

/* Home */


#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    background-color: antiquewhite;
}

.box {
    width: 150px;
    height: 150px; 
    border-radius: 70%;
    overflow: hidden;
}
.home_avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.home_title {
    text-align: center;
}




/* About */

#about{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about p {
    margin: 20px;
    width: 600px;
    text-align: center;
}


.about_majors {
    display: flex ;
    margin: 30px;
    width: 100%;
}

.major {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}


#header {
    border-bottom : solid 2px;
    margin: 20px;
}


#board_table {
    border : solid 1px;
}